html,
body {
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url(../img/party_planner.jpeg) no-repeat top fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: rgba(32, 9, 6, 0.932);
}

.buffer {
  height: 7rem;
}

.btn {
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 300px;
  padding: 1rem 2rem;
}

hr {
  border-color: #dd3300;
  border-width: 3px;
  max-width: 70px;
}

.btn-primary {
  background: #dd3300;
  border-color: #dd3300;
  color: #fff;
  font-size: 1rem;
}

.btn-primary:hover {
  background: #cc2200;
  border-color: #cc2200;
  border-width: 3px;
}
